/* Default font for the website */
* {
    font-family: "Montserrat", sans-serif;
}

/* Resetting styles */
body {
    background-color: #f0ece2;
    margin: 0;
    padding: 0;
}

/* Styling for headings */
h1 {
    font-size: 2.5em;
    color: brown;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.8em;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.banner {
    position: relative;
    text-align: center;
}

.banner img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* Header styling */
header {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
}

/* Navigation Styling */
.navigation {
    display: flex;
    justify-content: center;
    /* Center the navigation items */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav li {
    margin: 0 15px;
    /* Add margin to space out items */
}

nav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

nav li a:hover {
    background-color: #8E4739;
    color: #f0ece2;
    transition: background-color 0.3s ease;
    font-weight: 700;
    font-style: italic;
    border-radius: 50%;
}

/* Main Body */
.main-container h1 {
    text-align: center;
}

main {
    display: block;
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

main h2 {
    color: #333;
    margin-bottom: 15px;
}

main p {
    color: #666;
    margin-bottom: 10px;
}

/* Footer */
.footer-tab {
    background-color: black;
    width: 100%;
    color: #f0ece2;
    text-align: center;
    font-size: small;
    margin-top: 1%;
    font-weight: 600;
}

.footer-tab a {
    text-decoration: none;
    color: inherit;
}

/* Specials page */
.product-container {
    display: flex;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.product-image {
    width: 50%;
    height: 50%;
    margin-right: 10px;
}

.product-description {
    margin: 0;
}

/* Mobile View */
@media screen and (max-width: 760px) {
    h1 {
        font-size: 1.5em;
        text-align: center;
    }

    /* Navigation styles */
    .navigation {
        width: 100%;
        justify-content: center;
        /* Center navigation items */
    }

    nav ul {
        flex-direction: column;
        /* Stack items vertically on small screens */
    }

    nav li {
        font-size: 1em;
        background-color: #f0ece2;
        margin-bottom: 5px;
    }

    nav li a:hover {
        background-color: #8E4739;
        color: #f0ece2;
        transition: background-color 0.3s ease;
        font-weight: 700;
        font-style: italic;
        border-radius: 0%;
    }
}

/* Tablet View */
@media screen and (min-width: 761px) and (max-width: 1024px) {
    .container {
        text-align: center;
    }

    nav {
        display: inline-block;
    }

    nav ul {
        overflow-x: auto;
        white-space: nowrap;
        margin: 0 auto;
        /* Center the navigation list */
    }

    nav li {
        display: inline-block;
        margin: 0;
        padding: 0;
        margin-right: 20px;
        vertical-align: top;
    }

    nav li:first-child {
        margin-left: 0;
    }

    nav li img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
    }

    nav li a {
        padding: 10px 12px;
    }
}